$aquamarine: #95E1D3;
$peach: #F38181;
$darkgrey: #333;
$lightgrey: #999;
$gradient: rgb(228,204,127);
$linearGradient: linear-gradient(0deg, rgba(228,204,127,1) 0%, rgba(239,139,138,1) 100%);
$sand: #FCE38A;
$solightgrey: #e7e7e7;
$trans: all .4s linear;
$mont: "Montserrat", sans-serif;
$kaush: "Kaushan Script", cursive, sans-serif;
$Rob: "Roboto", sans-serif;
$col: 80px;
$gap: 20px;
$slot: $col + $gap;
$s: 56px;
