html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

}

.page-header {
    margin-bottom: 56px;
}

.page-header-nav {
    padding: 40px 0;
}

.site-logo {
    display: inline-block;
}


/* site navigation */

.site-navigation {
    float: right;
    width: 490px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 12px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.site-navigation li {
    float: left;
}

li.menu-home {
    margin-right: 34px;
}
li.menu-about {
    margin-right: 38px;
}
li.menu-page {
    margin-right: 31px;
}
li.menu-shop {
    margin-right: 28px;
}
li.menu-blog {
    margin-right: 35px;
}

.site-navigation li:last-child {
    margin-right: 0;
}


.site-navigation a {
    display: block;
    color: #0F0101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    line-height: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1ABC9C;
}

/* PRODUCTS SECTION */
.products {
    padding-bottom: 102px;
}
.headline {
    font-size: 38px;
    margin: 0 auto 91px;
    line-height: 40px;
    text-align: center;
    color: #505050;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
}


   .headline::after {
    content: '';
    display: block;
    background: #1ABC9C;
    margin: 30px auto;
    margin-bottom: 0;
    width: 15%;
    height: 7px;
   }

   .titletwo {
       margin-bottom: 81px;
   }


.products-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-list-item {
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.products-list-item:nth-child(4n) {
    margin-right: 0;
}

.products-list-item:nth-last-child(-n +4) {
    margin-bottom: 0;
}

.products-list-div {
    float: left;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Yantramanav', sans-serif;
}

.tshirt {
    float: left;
}

.products-list-name {
    width: 201px;
    text-align: left;
    padding-left: 10px;
    background-color: #323232;
    margin: 0;
}

.products-list-price {
    width: 54px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.5);
    margin: 0;
}



.products-list-item:hover .products-list-name {
    background: #1ABC9C;
}

.products-list-item:hover .products-list-price {
    background: rgba(26, 188, 156, 0.5);
}


/* NEWS SECTION */
.news {
    padding-bottom: 46px;
}

.news-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-list-item {
    float: left;
    width: 350px;
    font-size: 14px;
font-family: 'Roboto Condensed', sans-serif;
}

.news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.news-list-title {
    margin: 0;
    font-size: 16px;
    margin-bottom: 30px;
}

.news-list-img {
    margin-bottom: 15px;
}

   .news-list-title::after {
    content: '';
    display: block;
    background: #1ABC9C;
    margin: 0;
    margin-top: 14px;
    margin-right: 214px;
    width: 39%;
    height: 3px;
   }

.news-list-text {
    margin: 0 auto 18px;
}

    .news-button {
    border: none;
    margin: 0;
    padding: 19px 40px;
    min-width: 160px;
    min-height: 51px;
    font-size: 18px;
    background-color: #4EC6AB;
    border-radius: 3px;
    border-color: #4EC6AB;
    color: #FFFFFF;
    font: inherit;
    font-family: 'Roboto', sans-serif;
}

.news-button:hover {
    background-color: #3A947F;
}